.footer {
  /* Footer sticks to the bottom and does't squish */
  display: flex;
  flex-direction: column;
  align-items: center;
   box-sizing: border-box;
  
  width: 100%;
  padding: 1rem;
  background-color: rgba(0,0,0, 0.5); /* Subtle Grey */
}

.logo {
  box-sizing: border-box;
  height: 100px;
  width: auto;
  max-width: 100%; /* Prevents overflow beyond parent */
  object-fit: contain; /* Ensures image scales without cropping/distortion */
}