.footer {
  /* Footer sticks to the bottom and does't squish */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; 
  width: 100%;
  padding: 1rem;
  background: linear-gradient(135deg, oklch(42.185% 0.07162 185.547) 0%, #115e59 100% );
  color: #ffffff;
}

.logo {
  box-sizing: border-box;
  height: 100px;
  width: auto;
  max-width: 100%; /* Prevents overflow beyond parent */
  object-fit: contain; /* Ensures image scales without cropping/distortion */
}